.markdown-body p {
    text-align: justify;
}

.social-media {
  ul {
    list-style-type:none;

    li {
      a {
        display: grid;
        grid-template-columns: 25px 1fr;
        // grid-gap: 1rem;
      }
    }
  }
}

#gallery {

  ul {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style-type:none;

    li {
      margin-top: 20px;
      border-radius: 10px;
      align-self: start;

      p {
        font-size: 1rem;
        line-height: 1.5;
        padding: 1rem .75rem;
        // color: #666666;
      }

      figure {
        // max-height: 400px;
        overflow: hidden;
        border-radius: 10px;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        position: relative;
        margin: 10px 15px;

        img {
          width: 100%;
          border-radius: 10px;
        }

        figcaption {
          position: absolute;
          bottom: 15px;
          // background-color: rgba(0,0,0,.7);
          background-color: rgba(150, 150, 150, .7);
          width: 100%;

          h3 {
            // color: #586069!important;
            color: #222222;
            padding: .75rem;
            font-size: 1.25rem;
          }
        }
      }
    }
  }  
  
}
  
  