{{ define "gallery" }}
<div>
  <div class="position-relative" id="gallery">
        <ul>

          {{ range $photo := (where $.Site.RegularPages "Section" "gallery") }}
            <li>
              <figure>
                <img src="{{ .Params.src | absURL }}" alt="{{ .Params.AltText }}">
                <figcaption><h3>{{ .Params.Caption }}</h3></figcaption>
              </figure>
              <p>
                {{ .Summary | safeHTML }}
              </p>
            </li>
          {{ end }}
        </ul>
  </div>
</div>
{{ end }}
