{{ define "language-switcher" }}


    <div id="language-switch-main-div" class="dropdown-main-div">

        <!-- Create a button to switch language, with current language shown.
        For this, we iterate over all language and create the button with current language. -->
        {{ range .Site.Languages }}
            {{ if eq . $.Site.Language }}
                <button id="languageDropdownMenuButton" class="dropdown-menu-button form-select">
                    {{ .LanguageName }}
                </button>
            {{ end }}
        {{ end }}


        
        <div id="languageDropdownMenu" class="Box dropdown-content">
            {{ range $.AllTranslations }}
                <a title="{{ .Language.LanguageName }}" 
                   href="{{ .Permalink }}"
                   class="dropdown-item">
                   
                   {{ .Language.LanguageName }}
                </a>
            {{ end }}
        </div>
    </div>

{{ end }}