<!-- The navbar for mobile users -->
<div class="UnderlineNav user-profile-nav d-block d-md-none position-sticky top-0 pl-3 ml-n3 mr-n3 pr-3 bg-white"
  style="z-index:3;">
  <nav class="UnderlineNav-body">

    <!-- Overview -->
    <a class="UnderlineNav-item {{ if .IsHome }} selected {{ end }}" href="{{ .Site.BaseURL }}">
      Overview
    </a>

    <!-- Publications -->
    {{ if eq .Section "publications" }}
      <a class="UnderlineNav-item selected" href="{{ .Site.BaseURL }}/publications/">
    {{ else }}
      <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}/publications/">
    {{ end }}

      Publications
    </a>

    <!-- Blog posts -->
    {{ if eq .Section "blog" }}
      <a class="UnderlineNav-item selected" href="{{ .Site.BaseURL }}/blog/">
    {{ else }}
      <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}/blog/">
    {{ end }}
      Blog
    </a>


    <!-- Gallery -->
    {{ if eq .Section "gallery" }}
      <a class="UnderlineNav-item selected" href="{{ .Site.BaseURL }}/gallery/">
    {{ else }}
      <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}/gallery/">
    {{ end }}
      Gallery
    </a>

    <!-- About -->
    {{ if eq .Section "about" }}
      <a class="UnderlineNav-item selected" href="{{ .Site.BaseURL }}/about/">
    {{ else }}
      <a class="UnderlineNav-item" href="{{ .Site.BaseURL }}/about/">
    {{ end }}
      About
    </a>
  </nav>
</div>
